/*  your css code here. If applicable */
 *{
	 margin: 5px;
 }
#submitButton {
            background-color: initial; /* or any other default background color */
        }

       
#submitButton.clicked {
            background-color: aqua;
        }